html, body {
  height: 100%;
 }
  
body {
  background: #fff;
  font-family: Arial;
  margin: 5px 20px;
}

.heading {  
  text-align: center;
  font-size: 2.5rem;
}

.flex {
  display: flex;  
}

.columnflex {  
    display: flex;  
  flex-direction: column;  
  padding:8px;
}

.title {
  text-align: center;
  font-size: 1.5rem;  
}

.colorDiv {
  margin: 5px;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  padding: 45px 5px;
}

.blockRed {
  background-color: #ff0000;
}

.blockGreen {
  background-color: #00ff00;  
}

.blockBlue {
  background-color: #0000ff;
}

.description {
  padding: 5px;
}

.votes {
  padding-top: 10px;
  text-align: right;
}